<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Disease Diagnosis</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <link rel="stylesheet" href="../static/home.css" type="text/css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="../static/modal.js"></script>
</head>


<body>

    <section class="hero is-info">
        <div class="hero-body">
            <div class="container">
                <p class="title">
                    Disease Diagnosis Platform
                </p>
                <p class="subtitle">
                    Single platform for detection and diagnosis of different diseases.
                </p>

                <div class="dropdown is-active">
                    <div class="dropdown-trigger">
                        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                            <span>Select from dropdown</span>
                            <span class="icon is-small">
                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                            </span>
                        </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu" role="menu">
                        <div class="dropdown-content">
                            <button class="js-modal-trigger" data-target="modal-js-example">
                                Skin cancer detection
                            </button>
                            <button class="js-modal-trigger" data-target="pneumonia">
                                pneumonia detection
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- .hero -->
    <section class="hero " has-background-black>
        <section class="hero" has-background-black>
            <section class="section">
                <div class="container">
                    <h1 class="title">
                        Skin Cancer Detection
                    </h1>
                </div>
            </section>

            <div class="container has-text-centered bg-text" style="width: 100%">
                <p class="subtitle" style="color:black">
                    Diagnose your skin whether you have skin cancer of type <strong>Malignant</strong> or
                    <strong>Benign</strong>!
                </p>
                <i class="arrow_down"></i>
                <form action="/classify" method="post" enctype="multipart/form-data"
                    style="margin-top: 30px; width: 80%; text-align: center; margin: auto;">
                    <div class="file has-name is-centered">
                        <label class="file-label">
                            <input class="file-input" type="file" id="image" name="image">
                            <span class="file-cta">
                                <span class="file-label">
                                    Upload an image
                                </span>
                            </span>
                            <span class="file-name" id="file-name">
                                No file chosen
                            </span>

                        </label>
                    </div>
                    <br>
                    <input type="submit" value="Classify" class="button is-black" name="image"
                        id="classify_button">
                </form>
            </div>

<section class="hero" has-background-black>
    <section class="section">
        <div class="container">
            <h1 class="title">
                Pneumonia Detection
            </h1>
        </div>
    </section>

    <div class="container has-text-centered bg-text" style="width: 100%">
        <p class="subtitle" style="color:black">
           Check your chest x-ray image in the platform, whether it has any symptoms of pneumonia or not
        </p>
        <i class="arrow_down"></i>
        <form action="/classify" method="post" enctype="multipart/form-data"
            style="margin-top: 30px; width: 80%; text-align: center; margin: auto;">
            <div class="file has-name is-centered">
                <label class="file-label">
                    <input class="file-input" type="file" id="image" name="image">
                    <span class="file-cta">
                        <span class="file-label">
                            Upload an image
                        </span>
                    </span>
                    <span class="file-name" id="file-name">
                        No file chosen
                    </span>

                </label>
            </div>
            <br>
            <input type="submit" value="Classify" class="button is-black" name="image"
                id="classify_button">
        </form>
    </div>
</section>

    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                🚀Project made by <a href="https://github.com/harshiitsingh">Harshit Singh</a> and <a
                    href="https://github.com/oyesaurav">Saurav Pati</a>.
            </p>
        </div>
    </footer>


    <script src="/static/script.js"></script>
</body>

</html>